pkgbase = howdy
	pkgdesc = Windows Hello for Linux
	pkgver = 2.6.0
	pkgrel = 1
	url = https://github.com/boltgolt/howdy
	arch = x86_64
	license = MIT
	makedepends = python2-sphinx
	makedepends = cmake
	makedepends = pkgfile
	depends = opencv
	depends = hdf5
	depends = pam-python
	depends = python3
	depends = python-pillow
	depends = python-dlib
	depends = python-face_recognition
	depends = python-face_recognition_models
	depends = python-click
	depends = python-numpy
	backup = usr/lib/security/howdy/config.ini
	source = https://github.com/boltgolt/howdy/archive/v2.6.0.tar.gz
	source = https://github.com/davisking/dlib-models/raw/master/dlib_face_recognition_resnet_model_v1.dat.bz2
	source = https://github.com/davisking/dlib-models/raw/master/mmod_human_face_detector.dat.bz2
	source = https://github.com/davisking/dlib-models/raw/master/shape_predictor_5_face_landmarks.dat.bz2
	sha256sums = 5bac0f32cff1358ee06d2d33a50c3cbbb5f06973747343193ce7d9926c53de23
	sha256sums = abb1f61041e434465855ce81c2bd546e830d28bcbed8d27ffbe5bb408b11553a
	sha256sums = db9e9e40f092c118d5eb3e643935b216838170793559515541c56a2b50d9fc84
	sha256sums = 6e787bbebf5c9efdb793f6cd1f023230c4413306605f24f299f12869f95aa472

pkgname = howdy

