pkgbase = pam-python
	pkgdesc = Python for PAM
	pkgver = 1.0.8
	pkgrel = 1
	url = https://github.com/boltgolt/howdy
	arch = x86_64
	license = MIT
	makedepends = python-sphinx
	makedepends = cmake
	depends = pam
	depends = python
	source = https://downloads.sourceforge.net/project/pam-python/pam-python-1.0.8-1/pam-python-1.0.8.tar.gz
	sha256sums = fc69d7717db0509111500a81053487fa7684e1be3b7d0ae2b51970b6fdc918f6

pkgname = pam-python

