pkgbase = pam-python
	pkgdesc = Python for PAM
	pkgver = 1.0.7
	pkgrel = 1
	url = https://github.com/boltgolt/howdy
	arch = x86_64
	license = MIT
	makedepends = python2-sphinx
	makedepends = cmake
	depends = python2
	source = https://downloads.sourceforge.net/project/pam-python/pam-python-1.0.7-1/pam-python-1.0.7.tar.gz
	sha256sums = 96ce72fe355b03b87c0eb540ecef06f33738f98f56581e81eb5bffbad1a47e07

pkgname = pam-python

