#!/usr/bin/make -f
DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

build:
	# Create build dir
	meson setup -Dinih:with_INIReader=true build src/pam
	# Compile shared object
	meson compile -C build

clean:
	# Delete mason build directory
	rm -rf ./build
	# Force remove temp debian build directory
	rm -rf ./debian/howdy
	# Make sure subprojects get pulled locally
	meson subprojects download --sourcedir src/pam
